{% extends 'base.html.twig' %}


{% block body %}
    <span>Please validate your email using the link provided in the email address associated to your account to have full access to the website features</span>
{% endblock %}
